# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
ENV/
*.env

# Environment variable files
.env
.env.*

# macOS system files
.DS_Store

# VSCode settings (optional)
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# Logs
*.log